@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}

.bg-black {
  background-color: #0e1120 !important;
}

.section-title-size {
  font-size: 32px;
}

.font-size-18 {
  font-size: 18px;
}

@media (max-width: 767.98px) {
  .section-title-size {
    font-size: 28px;
  }

  .font-size-18 {
    font-size: 16px;
  }
}

.main-contents {
  background: url(../images/main-bg.png) no-repeat center center;
  background-size: cover;
}

.hero-contents .title {
  max-width: 621px;
  font-size: 97px;
  line-height: 96px;
  letter-spacing: -0.97px;
}

.hero-area {
  background: url(../images/hero-img.png) no-repeat bottom right;
  background-size: 50%;
}

@media (max-width: 991px) {
  .hero-area {
    background: url(../images/hero-img-mbl.png) no-repeat center 80px;
    background-size: 50%;
  }

  .hero-contents {
    padding-top: 380px;
  }

  .hero-contents .title {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.48px;
  }
}

@media (max-width: 767.98px) {
  .hero-area {
    background: url(../images/hero-img-mbl.png) no-repeat center 80px;
    background-size: 300px;
  }

  .hero-contents {
    padding-top: 300px;
  }

  .hero-contents .title {
    font-size: 38px;
    line-height: 38px;
    letter-spacing: -0.38px;
  }
}

.working-mechanism {
  padding: 6rem 0 4rem;
}

.video-wrapper {
  position: relative;
  z-index: 2;
}

.video-wrapper iframe {
  position: relative;
  z-index: 3;
  display: block;
  width: 100%;
  height: 728px;
}

@media (max-width: 1399.98px) {
  .video-wrapper iframe {
    height: 600px;
  }
}

@media (max-width: 1199.98px) {
  .video-wrapper iframe {
    height: 500px;
  }
}

@media (max-width: 991.98px) {
  .video-wrapper iframe {
    height: 400px;
  }
}

@media (max-width: 767.98px) {
  .video-wrapper iframe {
    height: 300px;
  }
}

@media (max-width: 576.98px) {
  .video-wrapper iframe {
    height: 200px;
  }
}

@media (max-width: 375.98px) {
  .video-wrapper iframe {
    height: 150px;
  }
}

.video-wrapper::before,
.video-wrapper::after {
  content: "";
  width: 400px;
  height: 400px;
  background: url(../images/video-beams.svg) no-repeat center center;
  background-size: contain;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.video-wrapper::before {
  top: -152px;
}

@media (max-width: 991.98px) {
  .video-wrapper::before {
    top: -200px;
  }
}

.video-wrapper::after {
  bottom: -200px;
}

.working-steps {
  padding: 4rem 0;
}

.mix-wrapper {
  border-radius: 20px;
  box-shadow: 0 53px 44.8px -17px rgba(0, 0, 0, 0.35);
}

.mix-wrapper .title {
  font-size: 24px;
  line-height: 22px;
}

@media (max-width: 767.98px) {
  .mix-wrapper .title {
    font-size: 22px;
    line-height: 20px;
  }
}

.accordion-item {
  background-color: #0e1120;
  border: none;
  color: #fff;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px 0;
}

.accordion-item:first-of-type {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.accordion-item:last-of-type {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.accordion-button {
  background-color: #0e1120;
  color: #fff;
}

.accordion-button:not(.collapsed) {
  background-color: #0e1120;
  color: #fff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-button::after {
  content: "+";
  font-size: 1.2em;
  color: #fff;
  background: none;
  border: none;
  margin-left: auto;
  transition: transform 0.2s;
  background-image: none !important;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

/* Arrow for open state */
.accordion-button:not(.collapsed)::after {
  content: "-";
  transform: rotate(0deg);
  background-image: none !important;
}
